<% include partials/header %>
<% if (products.length) { %>
<div class="bgBody">
	<form class="cards_container" action="/buy" method="post">
		<div class="container">
			<h1 class="text-center whiteColor">Produit(s) disponible(s) :</h1>
		   	<div class="row">
				<% for(var i=0; i<products.length; i++) { %>
		   		<div class="col-md-3">
		   			<div class="cards">
		   				<h3 class="text-center"><%= products[i].name %></h3>
						<hr style="width: 70%; background-color: #EFEFEF; margin-top: 0; height: 1px" />
						<p><span>Type:</span> <%= products[i].type %></p>
						<p><span>Quantité:</span> <%= products[i].quantity %></p>
						<p><span>Prix:</span> <%= products[i].price %> €</p>
						<div class="input-group">
				          	<span class="input-group-btn">
				              	<button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="<%=products[i].id%>">
				                  	<span class="glyphicon glyphicon-minus"></span>
				              	</button>
				          	</span>
				          	<input type="text" name="<%=products[i].id%>" class="form-control input-number" value="0" min="0" max="<%= products[i].quantity %>">
				          	<span class="input-group-btn">
				              	<button type="button" class="btn btn-default btn-number" data-type="plus" data-field="<%=products[i].id%>">
				                  	<span class="glyphicon glyphicon-plus"></span>
				              	</button>
				          </span>
				      	</div>
		   			</div>
		   		</div>
			 	<% } %>
		   	</div>
		</div>
		<input type="submit" class="btn_send_panier" value="Submit">
	</form>
	<% } else {%>
		<p>Je suis vide</p>
	<% } %>
</div>


<script src="/javascript/minus_plus.js"></script>
<% include partials/footer %>
